	color: #ec1b30 (red)
		color: #c41831 (red)
			color: #ff1f40 (red)
			
	color: #17458f (blue)
		color: #005daa (blue)
			color: #01b4e7 (blue)
			
	color: #ffd004 (yellow)
		color: #ffd93b (yellow)
			color: #ffdf5a (yellow)
	